body
{
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    color: #40514e;
}

.top-container
{
    background-color: #eaf6f6;
    padding-top: 30px;
    margin-bottom: 20px;
}

.MontserratFont
{
    font-family: 'Montserrat', sans-serif;  
    font-size: 2.5rem; 
    margin: 10px auto 0px auto;
}

.font-size
{
    font-size: 2.5rem;
}

h1
{   
    margin: 120px auto 25px auto;
    font-family: 'Sacramento', cursive; 
    font-size: 5.625rem;
    color: #66BFBF;
    
}

h2
{
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3
{
    color: #11999E;
}


.leftcloud
{
    position: absolute;
    left: 320px;

}

.righttopcloud
{
    position: absolute;
    top: 30px;
    right: 320px;

}

.cloudonmountain 
{
    position: absolute;
    top: 510px;
    right: 500px;

}

.bottom-container
{
    
    background-color: #66bfbf;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-top: 80px;
}

.skill-row 
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.compImage
{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.foodImage
{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.copyright
{
    margin-top: 50px;
    color: #EAF6F6;
    font-size: 0.75rem;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:"Source Sans Pro", Helvetica, serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  hr
  {
    border-style: dotted none none none;
    border-color: #EAF6F6;
    border-width: 0.49rem;
    width: 4%;
    margin: 90px auto 90px auto;
  }

 .twitterpic
 {
    margin: auto 12px auto 12px;
 }

 .reachme
 {
    margin: 30px 0px 50px 0px;
 }

 .compImagenew
 {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 25px;
 }

 .skill-row-course
 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
 }

 .awsclass
 {
    margin: 100px auto 150px auto;
 }
 





